wheel==0.43.0
setuptools===70.1.1

# the following is necessary when building the
# application with py2App
chardet==5.2.0

mypy == 1.11.2
html-testRunner~=1.2.1

# So Circle CI works
buildlackey==1.8.1

click == 8.1.7
PyGithub == 2.4.0
semantic-version>=2.10.0
codeallybasic>=1.10.0
codeallyadvanced==1.4.1
wxPython==4.2.2
